@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
$font: 'Outfit', sans-serif;

// Weights
$regular: 400;
$bold: 700;

// Widths
$mobile: 375px;
$desktop: 1440px;

// Colors
$White: hsl(0, 0%, 100%);
$Lightgray: hsl(212, 45%, 89%);
$Grayishblue: hsl(220, 15%, 55%);
$Darkblue: hsl(218, 44%, 22%);